/* Add your own styles here */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700');
h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
}
body , p, a, span, label{
    font-family: 'Roboto', sans-serif;
}
a:visited {
    color:#8c9e81;
}
.site-header .site-branding .site-logo a img{
    width: 100%;
    height: auto;
}
.site-header .site-branding .lang-item a img {
  width: 20px;
  height: 15px;
}
.site-branding.centered-branding {
    padding:20px 15px;
}
.site-logo {
    float: left;
}
.site-logo a {
    display: block;
    line-height: 45px;
    margin-right:20px;
}
.title-wrapper {
    float: left;
}
.title-wrapper a {
    font-weight: 300;
    font-size:14px;
    color:#8c9e81;
    letter-spacing:1px;
    text-align:left;
    display: block;
    line-height: 14px;
    margin-left:20px;
}
.title-wrapper .site-description {
    font-weight:bold;
    font-size:22px;
    color:#209c24;
    text-align:left;
    line-height: 22px;
    margin-top: 20px;
}
.site-header .widget_text {
    margin: 0px !important;
    padding: 0px;
}
.site-header .textwidget {
  line-height: 16px;
}
.contact-section .label-contact {
font-size:13px;
color:#8791a0;
}
.contact-section .text {
    font-size: 16px;
    font-weight: bold;
}
.contact-section .phone, .contact-section .mail{
  float:left;
}
.contact-section .phone .icon{
  background: url('images/phone.png') no-repeat center;
}
.contact-section .mail .icon{
  background: url('images/mail.png') no-repeat center;
}
.main-bg{
  background: url('images/main-bg.png') no-repeat center;
  height: 500px;
  background-size: cover;
}
.bds-quangcao{
  background: url('images/river.png') no-repeat center;
  height: 200px;
  background-size: cover;
}
.header-contact {
    text-align: left;
}
.contact-section .wrapper{
    float: left;
    margin-left:10px;
}
.contact-section .label-contact, .contact-section .text {
    float: left;
}
.contact-section .label-contact {
    margin-bottom: 10px;
    width: 100%;
}
.contact-section .icon{
    float: left;
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border:1px solid #77bb47;
    border-radius:2px;
}
.contact-section .icon a {
    width: 40px;
    height: 40px;
    display: inline-block;
}
.contact-section  {
    float: right;
}
.main-navigation, .main-navigation.toggled ul {
    background-color: #209c24;
}
.main-navigation .nav-menu  li  a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.main-navigation .nav-menu  li  a {
  padding-left: 0px;
  padding-right: 0px;
}
.main-navigation .nav-menu  li  a:visited {
    color: #fff;
}
.main-navigation .nav-menu  li.current-menu-item  a {
}
.main-navigation a:after {
    background: none;
}
.main-navigation .menu {
    background: none;
    display: block;
}
.main-navigation ul li {
    float: none;
}
#colophon {
    border-top:none;
}

footer {
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.10)
}
.site-footer .widget:not(.widget_newsmag_banner):not(.newsmag_slider) > h3.widget-title {
    font-family:Montserrat-SemiBold;
    font-size:18px;
    color:#313944;
    text-align:left;
    margin-bottom: 10px;
}
.site-footer .widget:not(.widget_newsmag_banner):not(.newsmag_slider).widget_text a{
    font-size:16px;
    color:#686c71;
    letter-spacing:0;
    text-align:left;
}
.site-footer .widget:not(.widget_newsmag_banner):not(.newsmag_slider).widget_text a:hover {
    color:#209c24;
}
.site-footer .widget ul {
    margin: 0px;
    padding: 0px 20px 0px;
}
.site-footer .widget li {
    list-style-type: disc;
    color: #8791a0 !important;
    margin:5px 0px;
}
.site-footer .widget ul.contact-us {
    padding: 0px;
}
.site-footer .widget ul.contact-us li {
    padding-left: 25px;
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: 0px 5px;
}
.site-footer .widget ul.contact-us li.phone {
    background-image: url(images/phone-ft.png);
}
.site-footer .widget ul.contact-us li.address {
    background-image: url(images/location-ft.png);
}
.site-footer .widget ul.contact-us li.fax {
    background-image: url(images/fax-ft.png);
}
.site-footer .widget ul.contact-us li.email {
    background-image: url(images/mail-ft.png);
}
#colophon .footer-widgets-area {
    background-color: #fff;
}
.main-bg span.company-name {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 150px;
    font-family: 'Montserrat', sans-serif;
}
.main-bg span.company-slogan {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.bds-price {
    font-family:Roboto-Regular;
    font-size:18px;
    color:#e42230;
}
select {

  /* styling */
  background-color: white;
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding:10px 40px 10px 20px;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url(images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 16px;
    font-size:14px;
    color:#8791a0;
    width: 205px;
}
.filter-bds {
    display: inline-block;
    float: none;
    width: 200px;
}
.search-bds-form {
    text-align: center;
    padding-top: 20px;
}
input.btn-search,input.btn-search:hover {
    border:none;
    background-color: #209c24;
}
input.btn-search {
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    border-radius: 0px 5px 5px 0px;
        line-height: 25px;
    height: 44px;
}
.filter-loai-bds select{
    border-radius: 5px 0px 0px 5px;

}
.filter-phuong select{

}
.filter-huyen select{

}

footer .site-info {
    border-top:1px solid #e9ecf1;
    background-color: #fff;
}
footer .copy-huyhoang {
    font-size:16px;
    color:#8791a0;
    text-align:left;
}
#colophon .regular-footer-area > .container {
    border-bottom: none;
}
.site-footer .widget:not(.widget_newsmag_banner):not(.newsmag_slider).widget_text a, .site-info *, .site-info a {
    font-family: Roboto-Regular;
}
.bds-item .featured-image img {
    height: 250px;
    width: auto;
}
.bds-item .featured-image {
    text-align: center;
}
.block-title {
    font-family:Montserrat-SemiBold;
    font-size:30px;
    color:#313944;
    text-align:left;
}
.bds-title h4{
  margin-top: 15px;
  margin-bottom: 0px;
}
.bds-title a{
    font-size:18px;
    color:#313944;
    text-align:left;
}
.bds-des, .bds-location {
    font-size:14px;
    color:#7e7e7e;
    line-height:22px;
    text-align:left;
}
.bds-subject, .bds-bed-room, .bds-toilet {
    font-size:15px;
    color:#8791a0;
    line-height:15px;
    text-align:left;
    font-family:Roboto-Regular;
}
.bds-subject span{
  height: 20px;
  padding-left: 25px;
  background: url('images/subject-icon.svg') no-repeat left center;
  line-height: 20px;
}
.bds-bed-room span{
    height: 20px;
  padding-left: 40px;
  background: url('images/bedroom-icon.svg') no-repeat left center;
  line-height: 20px;

}
.bds-toilet span{
    height: 20px;
  padding-left: 35px;
  background: url('images/toilet-icon.svg') no-repeat left center;
  line-height: 20px;

}
.meta-bds {
    border-top:1px solid #e9ecf1;
    padding:20px 0px;
}
.bds-price {
    padding-bottom: 15px;
}
.bds-field {
    padding-top:5px;
}

.bds-quangcao h3 {
    color: #fff;
    margin-top:40px;
    font-family:Montserrat-Medium;
    font-size: 30px;
}
.line-break {
    width: 50px;
    height: 4px;
    background-color: #209c24;
    display: block;
    margin: 25px 0px 30px
}
 .bds-quangcao h4 {
    color: #fff;
    margin-top:10px;
    font-family:Montserrat;
    font-size: 25px;
    font-weight: normal;
    margin-left:100px;
    text-transform: uppercase;
 }
 .bds-quangcao a.view-more {
    font-family: Roboto-Medium;
    font-size: 14px;
    color: #3357b4;
    background-color: #fff;
    padding: 8px 30px;
    border-radius: 5px;
    margin-left: 400px;
    display: inline-block;
    margin-top: 5px;
    background-image: url(images/view-more.svg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
 }
.bds-item .ban, .bds-item .mua {
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    position: absolute;
    padding: 7px 15px;
    background-color: #7186bd;
    font-family:Montserrat;
}
.bds-item .mua {
    background-color: #71bd7e;
}
.home .site-content, .single-bat_dong_san .content-wrapper {
    background-color: #f9f9fc;
}
.bds-fields {
    padding:0px 15px;
    
}
.bds-item {
    margin-bottom: 20px;
    background-color: #fff;
}
.list-duan .featured-image img {
    width: 100%;
    height: auto;
}
.du-an-item .meta{
    margin-left:-10px;
}
.meta a {
    margin-left:0px;
    font-size:18px;
    color:#313944;
}
.du-an-item .meta .bds-title h4 {
    margin-top:0px;
}
.du-an-item .bds-location, .du-an-featured .bds-location {
    background: url('images/location.svg') no-repeat 0px 10px;
    padding-left:20px;
}
.huyhoang-pagination {
    padding:30px 0px;
}
.huyhoang-pagination a.page-numbers,.huyhoang-pagination a.page-numbers:visited {
    background: #f9f9fc;
    border: 1px solid #e9ecf1;
    border-radius: 3px;
    width: 34px;
    height: 34px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
    color:#7e7e7e;
}
.huyhoang-pagination span.page-numbers {
    background: #f9f9fc;
    color:#fff;
    border: 1px solid #e9ecf1;
    border-radius: 3px;
    width: 34px;
    height: 34px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
    background-image:linear-gradient(-180deg, #58ad29 0%, rgba(92,167,44,0.92) 100%);
}
.featured-duan {
    padding-bottom: 20px;
}
.du-an-featured {
    background:#ffffff;
    border:1px solid #e9ecf1;
    margin-bottom: 15px;
}
.du-an-featured .meta {
    padding:0px 15px 15px;
}
.list-duan .row {
    padding-bottom: 30px;
}
.page-template-list-du-an .site-content {
  background-color: #fff;
}
.menu-toggle:hover, .menu-toggle:focus {
    color:#fff;
    border-color: #fff;
    background-color: #209c24;
}
.menu-toggle {
    color:#fff;
    border-color: #fff;
}
.newsmag-breadcrumbs {
    margin:15px;
}
.newsmag-breadcrumbs .newsmag-breadcrumb-sep {
    color:#7e7e7e;
    font-size: 14px;
}
.newsmag-breadcrumbs a:visited, .newsmag-breadcrumbs a {
    color:#7e7e7e;
}
.main-navigation .nav-menu > li {
    padding:0px 20px;
}
.main-navigation .nav-menu > li.current-menu-item  {
    background-color: #047420
}
article.du_an .entry-content img {
    width: 100%;
    height: auto;
    padding:20px 0px;
}
.content-wrapper{
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.10);
}
.newsmag-article-post .newsmag-post-meta {
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 15px;
}
article.du_an .entry-content p {
    font-size: 14px;
    color:#686c71;
    font-weight: 300;
}
.facebook-sharing {
    width: 90px;
    height: 25px;
    background: url('images/fb-sharing.png') no-repeat;
    display: inline-block;
    margin-left: 10px;
}
.google-sharing {
    width: 90px;
    height: 25px;
    background: url('images/gg-sharing.png') no-repeat;
    display: inline-block;
    margin-left: 5px;
}
.social-sharing {
    margin-left: 30px;
}
.newsmag-post-meta .bds-location {
    background: url(images/location.svg) no-repeat;
    padding-left: 20px;
    font-size: 14px;
    font-style: normal;
}
.newsmag-article-post .newsmag-date {
    margin-bottom: 0px;
}
.site-footer {
    background: url(images/footer-bg.png) no-repeat bottom center;
}
#colophon .footer-widgets-area, .site-footer .site-info {
    background-color: transparent;
}
.site-footer .widget ul.contact-us li {
    font-family: Roboto-Regular;
    color:#686c71 !important;
}
.lang {
    float: left;
}
.lang .icon {
        background: url(images/english.png) no-repeat center center;
    width: 115px;
    height: 40px;
    border-color: #dbdbdb;;
}
.page-template-search-bds input.btn-search {
  background-position: 10% 50%;
  height: 50px;
}
.page-template-search-bds .content-wrapper {
    box-shadow: none;
    background-color: #f9f9fc;
}
.results {
    overflow: hidden;
    margin-bottom: 10px;
}
.search-title {
    font-family:Montserrat-SemiBold;
    font-size:30px;
    color:#353d2f;
    margin-top:40px;
    margin-bottom: 30px;
}
.page-template-search-bds .filter-bds {
    width: 142px;
    height: 50px;
    margin-bottom: 10px;
}
.page-template-search-bds .filter-bds select{
    width: 147px;
    height: 50px;
}
.page-template-search-bds .search-box {
    margin-bottom: 25px;
}
.num-result {
    font-size:18px;
    color:#303945;
    font-weight: bold;
    margin-bottom:0px;
    margin-top: 0px;
}
.sort-order .styled-select {
    display: inline-block;
}
.sort-order .styled-select select {
  font-size:12px;
  color:#353d2f;
  height: 35px;
}
.sort-order span {
  font-size: 12px;
  color:#303945;
}
.bds-detail {
    border:1px solid #e9ecf1;
    border-bottom: none;
    margin:0px 0px 20px;
}
.bds-detail div {
    padding: 20px;
    border-bottom:1px solid #e9ecf1;
}
#carousel {
    margin-bottom: 20px !important;
}
.bds-detail .maso span.label-text {
  font-size:18px;
  color:#313944;
  font-weight: bold;
  width: auto;
  text-transform: uppercase;
}
.bds-detail span.label-text {
  width: 150px;
  display: inline-block;
  font-size:14px;
  color:#555555;
  font-weight: 400;
}
.bds-detail .description .label-text {
    display: block;
    width: 100%;
}
.bds-detail span.value {
    font-size:14px;
    color:#666666;
    font-weight:300;
}
.single-bat_dong_san .entry-content ul li:before {
    content: none;
}
#carousel .slides img {
  height: 75px;
  width: auto;
}
.flexslider {
    margin-bottom: 0px !important;
}
.entry-content .flexslider ul {
    margin-bottom: 0px;
}
.google-map {
  border:1px solid #e9ecf1;
}
.google-text {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #e9ecf1;
  font-size:18px;
  color:#313944;
  font-weight: bold;
  width: auto;
  text-transform: uppercase;
}
.google-location {
  display: block;
  padding: 20px;
}
.google-location span {
    margin-bottom: 10px;
    display: block;
}
.contact-section-detail {
    border:1px solid #e9ecf1;
    margin-top: 12px;
}
.contact-info {
    padding:20px;
    overflow: hidden;
}
.author-avatar {
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.author-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.author-info {
    float: left;
}
.author-info span{
    display: block;
}
.author-info span.intro {
    font-size:14px;
    color:#686c71;
}
.author-info span.name-founder {
    font-size:18px;
    font-weight: bold;
    text-transform: uppercase;
    color:#313944;
    padding: 5px 0px;
}
.author-info span.phone-founder a{
    font-size:16px;
    color:#fff;
    height: 40px;
    line-height: 40px;
    padding: 0px 40px;
    background: url('images/green-phone.svg') #209c24 no-repeat left center;
    background-position: 10px;
    border-radius: 3px;
    display: inline-block;
}
.social-info {
    padding:0px 20px 20px;
    border-bottom:1px solid #e9ecf1;
    font-size:14px;
    color:#686c71;
}
.social-info a{
  padding:0px 5px;
}
.contact-form {
    padding:20px;
    border-bottom:1px solid #e9ecf1;
}
.contact-sharing {
    padding: 0px;
    overflow: hidden;
}
.contact-sharing span {
  color:#686c71;
  line-height:18px;
  display: block;
  text-align: center;
  padding: 10px 0px;
}
.contact-sharing .fb-large-sharing {
    height: 37px;
    background: url(images/large-fb.svg) #3b5998 no-repeat center;
    display: inline-block;
    width: 33.5%;
    line-height: 37px;
    float: left;
}
.contact-sharing .gplus-sharing {
    height: 37px;
    background: url(images/large-google.svg) #dc4e41 no-repeat center;
    display: block;
    width: 33%;
    line-height: 37px;
    float:left;
}
.contact-sharing .gmail-sharing {
    height: 37px;
    background: url(images/large-gmail.svg) #bababa no-repeat center;
    display: block;
    width: 33.5%;
    line-height: 37px;
    float:left;
}
.contact-form span.field-label {
    width: 90px;
    float: left;
    font-size:14px;
    color:#666666;
}
.contact-form input, .contact-form textarea {
    background:#f9f9fc;
    border:1px solid #e9ecf1;
    border-radius:3px !important;
    height:34px;
    margin-bottom: 10px !important;
    box-shadow: none !important;
}
.contact-form textarea {
    height:100px;
}
.contact-form input.wpcf7-submit {
    width: 175px;
    height: 45px;
    background: url(images/submit-contact.svg) #209c24 no-repeat left center;
    margin-left: 90px;
    border-radius: 5px !important;
    display: block;
    background-position: 20px;
}
.bds-detail, .google-map, .contact-section-detail {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
    .main-navigation ul li ul.sub-menu {
      background-color: #047420;
      padding: 0px 25px;
      margin-top:15px;
    }
    .main-navigation .nav-menu > li.menu-item-has-children > ul li a {
        color:#fff;
        font-size: 14px;
        border-bottom: 1px solid #50813a;
        text-align: left;
        padding-left: 0px;
        width: 180px;
        font-weight: 400;
    }

    .main-navigation .nav-menu > li.menu-item-has-children > ul:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .main-navigation .nav-menu > li.menu-item-has-children > ul:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #50813a;
        border-width: 7px;
        margin-left: -100px;
    }
    .main-navigation .nav-menu > li.menu-item-has-children > ul li a:hover {
        color: #fff;
    }
}

@media screen and (max-width: 991px) {
    .contact-section {
        float:left;
    }
    .site-branding .site-logo {
        margin-bottom: 25px;
    }
    .site-branding .header-logo {
        margin-bottom: 0px;
    }
    
}
@media screen and (max-width: 767px) {
    .lang {
        width: 100%;
    }
    .main-navigation .menu {
        display: none;
    }
    .contact-section .phone, .contact-section .mail{
        padding-bottom: 10px;
    }
    .main-bg span.company-name {
        padding-top: 70px;
    }
    .main-bg span.company-slogan {
        font-size: 36px;
    }
    .bds-quangcao h4 {
        margin-left:0px;
        font-size:16px;
    }
    .bds-quangcao h3 {
        font-size: 25px;
    }
    .bds-quangcao a.view-more {
        margin-left: 0px;
    }
    .bds-bed-room {

    }
    .filter-bds {
        width: 250px;
        padding:3px 0px;
    }
    .filter-bds  select {
        width: 100%;
        border-radius: 5px;
    }
    input.btn-search {
        width: 250px;
        margin-top:3px;
        border-radius: 5px;
    }
    .mail .wrapper {
        width: 230px;
    }
    .du-an-item .meta {
        margin-left:0px;
    }
    .social-sharing {
        display: block;
        margin-left: 0px;
        padding: 5px 0px;
    }
    .facebook-sharing {
        margin-left: 0px;
    }
    .page-template-search-bds .filter-bds {
        width: 100%;
    }
    .page-template-search-bds .filter-bds select{
        width: 100%;
    }
    .page-template-search-bds input.btn-search {
        width: 100%;
    }
    .bds-detail .maso span.label-text {
      font-size: 16px; 
    }
}

